* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #070020;
  
 }


li{
    list-style: none;
}
.menu {
    display: flex;
    justify-content: flex-end;

}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    padding-right:  100px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu li {
    list-style: none;
}
.menu a {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #aca9ec;
    text-decoration: none;
    margin: 30px;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #7df1e6;
    transition: 0.1s all;
    transform: 2ms ease-in;
    position: relative;
    border-bottom: 3px solid #7df1e6;
}

.menu li  ul{
    position:absolute;
    background-color: none;
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}
/*---------------FIM DO MENU-------------*/

/*---------------INÍCIO DO MAIN-------------*/
main{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 100px;
}


aside {
  width: 40%;
  justify-content: center;
  flex-direction: column;
  padding-inline-start: 10%;
  text-align: center;
  padding-top: 10px;
}


img { padding-top: 60px; }

h1{
  font-size: 50px;
  line-height: 20px;
  color: #aca9ec; 
  margin-top: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 4px;
}

h1{animation:focus-in-expand 1.5s cubic-bezier(.25,.46,.45,.94) both; }

 @keyframes focus-in-expand{0%{letter-spacing:-50em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

h2{
  font-size: 20px;
  line-height: 20px;
  color: #edd44b;
  margin-top: 30px;
  margin-left: 60px;

}

article {
  width: 60%;
  color: #7df1e6;
  font-size: 20px;
  font-weight: 100px;
  line-height: 30px;
  margin-top: 60px;
  padding-top: 50px;
  text-align: justify;
  font-family: 'ABeeZee', sans-serif;
  letter-spacing: 5px;
  padding-inline-end: 10%;
}

/*-----------FIM DO MAIN--------------*/

#sec-habilidades{
  color: #aca9ec;
}

.conteudo{
  display: flex;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 1px;
  color: #aca9ec;
  font-weight: 700;

}

.linguagens {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  padding-bottom:10px;
  justify-content: center;
  text-align: center;
}
    
.iconehtml { grid-area: 1 / 1 / 2 / 2;}
.iconecss { grid-area: 1 / 2 / 2 / 3; }
.iconesass { grid-area: 1 / 3 / 2 / 4; }
.iconejs { grid-area: 1 / 4 / 2 / 5; }
.iconepython { grid-area: 1 / 5 / 2 / 6; } 

.ferramentas {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center
}

.iconelinux { grid-area: 1 / 1 / 2 / 2; }
.iconewindows { grid-area: 1 / 2 / 2 / 3; }
.iconegit { grid-area: 1 / 3 / 2 / 4; }
.iconegithub { grid-area: 1 / 4 / 2 / 5; }
.iconevsc { grid-area: 1 / 5 / 2 / 6; }
.iconepycharm { grid-area: 1 / 6 / 2 / 7; }
.iconejupyter { grid-area: 1 / 7 / 2 / 8; }
.iconecolab{ grid-area: 1 / 8 / 2 / 9; }

#habilidades {
  font-size: 24px;
  color: #aca9ec;
  margin-top: 55px;
}
/*------------PORTFOLIO -----------------*/



#portfolio{ height: 450px; }


#contportfolio{
  display: flex;
  width: 800px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


#portfolio2{
  font-size: 24px;
  color: #aca9ec;
  margin-right: 50px;
  margin-top: 55px;
}

.descricao2{
  font-size: 15px;
  line-height: 20px;
  color: #7df1e6;
  font-weight: 500;
}
.linksite2 {
  font-size: 14px;
  line-height: 20px;
  color: #aca9ec;
  font-weight: 500;
  text-decoration: none;
}

.linksite2 a:visited {
  color: #aca9ec;
}

.linksite2:hover {
  color: #7df1e6;
  transition: 0.1s all;
  transform: 2ms ease-in;
  position: relative;
}

.descricaoportfolio {
  font-size: 14px;
  line-height: 20px;
  color: #c4bdbd;
  font-weight: 100;
  padding-bottom: 20px;

}

.grid-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
}
  
.printsite3 { grid-area: 1 / 1 / 2 / 2; }
.printsite3{ grid-area: 1 / 2 / 2 / 3; }
.printsite3 { grid-area: 1 / 3 / 2 / 4; }
.desc1 { grid-area: 2 / 1 / 3 / 2; }
.desc2 { grid-area: 2 / 2 / 3 / 3; }
.desc3 { grid-area: 2 / 3 / 3 / 4; } 
  

#formacao{ 
  padding-top: 50px;
  padding-bottom: 100px;
}


.conteudo{
  display: flex;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
h3{
  font-size: 24px;
  color: #c4bdbd;
  margin-right: 50px;
}

.descricao{
  font-size: 18px;
  line-height: 25px;
  color: #7df1e6;
  font-weight: 800;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  color: #7df1e6;
  font-weight: 600;
  text-decoration: none;
}

h5 a:visited {
  color: #edd44b;
}

a:hover {
  color: #edd44b;
  transition: 0.1s all;
  transform: 2ms ease-in;
  position: relative;
}

.item {
  margin-bottom: 10px;
}




/*------------CONTATO------------*/


#contato {
  background: #FFFFFF url(/images/footer.png) center top no-repeat scroll;
  background-size: 100%;
  filter: blur(1);
  height: 200px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

#contato a {
    color: #ffffff;
    text-decoration: none;
}

 