* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}
.menu {
    background-color: #938DF8;
    display: flex;
    justify-content: flex-end;/*
    position: inherit;
    width: 100px;*/
}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    padding: 20px;
    align-items: center;
}

.menu li {
    list-style: none;
}
.menu a {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #dfdddd;
    text-decoration: none;
}

.menu li a:hover {
    color: #7df1e6;
    transition: 0.3s all;
    transform: 2ms ease-in;
    position: relative;
}

.menu li  ul{
    position:absolute;
    background-color: none;
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}


img {
    border-radius: 50%;
}

.intro {
    font-family: 'ABeeZee', sans-serif;

    color: #000000;
    font-size: 20px;
    max-width: 500px;
    text-align: center;
    letter-spacing: 2px;

}

.intro-content {
    background-color: #dfdddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    padding: 50px;
}

.intro-content figure{
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    color:#938DF8;
}

.subtitle {
    font-size: 24px;
    color: #555050;
}

section h1{
    font-size: 24px;
    color: #49BFB3;
    margin-right: 50px;
}

nav{
    color: #ffffff;
    border: 2px dotted #49BFB3;
}

.menu li{
    list-style: none;
}

.conteudo{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#portfolio{
    background-color: #dfdddd;
}

.descricao{
    font-size: 18px;
    line-height: 25px;
    color: #938DF8;
    font-weight: 700;
}

.linksite {
    font-size: 16px;
    line-height: 22px;
    color: #555050;
    font-weight: 600;
    text-decoration: none;
}

.linksite a:visited {
    color: #555050;
}
.item {
    margin-bottom: 10%;
}

#contato {
    background-color: #3626ff;
    height: 200px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#contato a {
    color: #ffffff;
    text-decoration: none;
}
